version: 2.1
orbs:
  samvera: samvera/circleci-orb@0
jobs:
  bundle_and_test:
    parameters:
      ruby_version:
        type: string
      blacklight_version:
        type: string
        default: '~> 7'
      bundler_version:
        type: string
        default: 1.17.3
      rails_version:
        type: string
      solr_port:
        type: string
        default: '8985'
      active_fedora_version:
        type: string
        default: '>0'
      solr_config_path:
        type: string
        default: '.internal_test_app/solr/conf'

    executor:
      name: 'samvera/ruby_fcrepo_solr'
      ruby_version: << parameters.ruby_version >>
      solr_port: << parameters.solr_port >>
    working_directory: ~/project

    environment:
      ENGINE_CART_RAILS_OPTIONS: --skip-git --skip-bundle --skip-listen --skip-spring --skip-yarn --skip-keeps --skip-coffee --skip-puma --skip-test
      RAILS_VERSION: << parameters.rails_version >>
      SOLR_TEST_PORT: << parameters.solr_port >>
      ACTIVE_FEDORA_VERSION: << parameters.active_fedora_version >>
      BLACKLIGHT_VERSION: << parameters.blacklight_version >>
    steps:
      - samvera/cached_checkout

      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: hydra-head

      - samvera/engine_cart_generate:
          cache_key: v1-internal-test-app-{{ checksum "hydra-head.gemspec" }}-{{ checksum "spec/test_app_templates/lib/generators/test_app_generator.rb" }}-{{ checksum "hydra-core/lib/generators/hydra/head_generator.rb" }}-{{ checksum "spec/test_app_templates/Gemfile.extra" }}-<< parameters.active_fedora_version >>-<< parameters.rails_version >>-<< parameters.ruby_version >>-<< parameters.blacklight_version >>

      - samvera/install_solr_core:
          solr_config_path: << parameters.solr_config_path >>

      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: hydra-head

      - run: bundle exec rake spec

workflows:
  ci:
    jobs:
      - bundle_and_test:
          name: "ruby2-7_rails6.0"
          ruby_version: 2.7.3
          rails_version: 6.0.3.7
      - bundle_and_test:
          name: "ruby2-7_rails5.2"
          ruby_version: 2.7.3
          rails_version: 5.2.6
      - bundle_and_test:
          name: "ruby2-7_rails5.2-bl6"
          blacklight_version: 6.23.0
          ruby_version: 2.7.3
          rails_version: 5.2.6
      - bundle_and_test:
          name: "ruby2-6_rails5.2"
          ruby_version: 2.6.7
          rails_version: 5.2.6
      - bundle_and_test:
          name: "ruby2-5_rails5.2"
          ruby_version: 2.5.9
          rails_version: 5.2.6
